@font-face {
    font-family: Noto Sans;
    src: url(./fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

body {
    font-family: 'Noto Sans';
}

:root {
    /* --q-primary: red; */
    /* --q-secondary: red; */
    /* --q-accent: red; */
    /* --q-dark: red; */
    /* --q-positive: red; */
    /* --q-negative: green; */
    /* --q-info: red; */
    /* --q-warning: red; */
}